[gerrit]
    basePath = git
	canonicalWebUrl = http://gerrit.askey.cn:8080
    serverId = 69661716-6ef8-47f1-b6c8-a1c9b76b14cc
    installCommitMsgHookCommand = "gitdir=$(git rev-parse --git-dir); curl http://gerrit.askey.cn:8082/cgit/repo.git/plain/hooks/commit-msg?h=askey-stable > ${gitdir}/hooks/commit-msg; chmod +x ${gitdir}/hooks/commit-msg"

[index]
    type = LUCENE
	threads = 1
[auth]
    type = ldap
    userNameToLowerCase = true
    gitBasicAuth = true
	gitBasicAuthPolicy = HTTP

[ldap]
    server = ldap://ldap
    username = cn=admin,dc=askey,dc=cn
    accountBase = dc=askey,dc=cn
    groupBase = dc=askey,dc=cn
    accountPattern = (cn=${username})
    localUsernameToLowerCase = true
    #accountFullName = displayName
    accountFullName = cn
    accountSshUserName = cn
	
[core]
    packedGitOpenFiles = 2048
    packedGitLimit = 2g
    packedGitWindowSize = 16k

[sendemail]
    smtpServer = gerrit.askey.cn
    from = MIXED
    enable = true
    smtpServerPort = 587
    smtpUser = GERRIT-ASKEY-SZ_sa
    smtpEncryption = none
    sslVerify = false

[user]
    name = Gerrit Askey SZ
    email = GERRIT-ASKEY-SZ_sa@askey.cn
    anonymousCoward = ASKEY_SZ_GerritCodeReview

[sshd]
    listenAddress = *:29418
    threads = 16
    batchTheads = 4
    maxConnectionsPerUser = 64
    commandStartThreads = 3

[httpd]
    listenUrl = http://*:8080/
    maxThreads = 50

[cache]
    directory = cache

[container]
    user = root
       javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
       javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
       javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
       javaOptions = -Djava.security.egd=file:/dev/./urandom
    heapLimit = 8g
	
[receive]
	enableSignedPush = false

[execution]
    defaultThreadPoolSize = 4
[pack]
    threads = 2
    #windowMemory = 2g

[cache "web_sessions"]
    maxAge = 1 y

[gitweb]
	type = cgit
    url = http://gerrit.askey.cn:8082/cgit/
    urlEncode = false

[plugins]
	allowRemoteAdmin = true
[receive]
    checkReferencedObjectsAreReachable = false

[download]
    command = checkout
    command = cherry_pick
    command = pull
    command = format_patch
    scheme = http
    scheme = ssh
    scheme = repo_download

[gc]
    startTime = Sat 6:00
    interval = 2 months
    pruneexpire = 2.hours.ago
[commentlink "changeid"]
    match = (I[0-9a-f]{8,40})
    link = "#/q/change-id=$1"
[trackingid "trac"]
    footer = Resolves:
    match = (ticket|[Tt]rac):([\\d]+)
    system = TRAC
[commentlink "jira"]
    match = (^|[^\\/A-Z0-9])([A-Z0-9]+)-([\\d]+)
    html = $1<a href=\"https://jiraprod.askey.com.tw:8443/browse/$2-$3\">$2-$3</a>
[plugin "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
