[gerrit]
    basePath = git
    installCommitMsgHookCommand = "gitdir=$(git rev-parse --git-dir); curl http://gerrit.askey.cn:8082/cgit/repo.git/plain/hooks/commit-msg?h=askey-repo1 > ${gitdir}/hooks/commit-msg; chmod +x ${gitdir}/hooks/commit-msg"
	canonicalWebUrl = http://10.8.16.158:8080
	serverId = 364ab527-0ea7-4c4c-b16a-1198cd7ccc0c

[index]
    type = LUCENE
	threads = 1
[auth]
    type = ldap
    userNameToLowerCase = true
    gitBasicAuth = true
	gitBasicAuthPolicy = HTTP

[ldap]
    server = ldap://gerrit.askey.cn
    username = cn=admin,dc=askey,dc=cn
    accountBase = dc=askey,dc=cn
    groupBase = dc=askey,dc=cn
    accountPattern = (cn=${username})
    localUsernameToLowerCase = true
    accountFullName = displayName
	
[core]
    packedGitOpenFiles = 2048
    packedGitLimit = 2g
    packedGitWindowSize = 16k

[sendemail]
    smtpServer = smtp.163.com
    from = MIXED
    enable = true
    smtpServerPort = 25
    smtpUser = askeycodereview
    smtpPass = HBLIBBYYFFCUYFWT
    sslVerify = true

[user]
    name = Gerrit Askey SZ
    email = askeycodereview@163.com
    anonymousCoward = ASKEY_SZ_GerritCodeReview

[sshd]
    listenAddress = *:29418
    threads = 16
    batchTheads = 4
    maxConnectionsPerUser = 64
    commandStartThreads = 3

[httpd]
    listenUrl = http://*:8080/
    maxThreads = 50

[cache]
    directory = cache

[container]
    user = test
    heapLimit = 8g
	
[receive]
	enableSignedPush = false

[execution]
    defaultThreadPoolSize = 4
[pack]
    threads = 2
    #windowMemory = 2g

[cache "web_sessions"]
    maxAge = 1 y

[gitweb]
	type = cgit
    url = http://10.8.16.158:8082/cgit/
    urlEncode = false

[plugins]
	allowRemoteAdmin = true
[receive]
    checkReferencedObjectsAreReachable = false

[download]
    command = checkout
    command = cherry_pick
    command = pull
    command = format_patch
    scheme = http
    scheme = ssh
    scheme = repo_download

[commentlink "changeid"]
    match = (I[0-9a-f]{8,40})
    link = "#/q/change-id=$1"
[trackingid "trac"]
    footer = Resolves:
    match = (ticket|[Tt]rac):([\\d]+)
    system = TRAC
[commentlink "jira"]
    match = (^|[^\\/A-Z0-9])([A-Z0-9]+)-([\\d]+)
    html = $1<a href=\"https://jiraprod.askey.com.tw:8443/browse/$2-$3\">$2-$3</a>
[plugin "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
