[Unit]
Description=Gerrit Docker compose service
After=network-online.target containerd.service docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=docker-compose -f /home/jarch_hu/jhscript/cfg/docker/docker-compose-testsrv.yml up -d --no-recreate
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
