[Unit]
SourcePath=/usr/bin/tmux-session
Description=tmux session Service for UID %i
After=systemd-user-sessions.service

[Service]
#Restart=no
Type=oneshot
RemainAfterExit=Yes
ExecStart=/usr/bin/tmux-session restore
ExecStop=/usr/bin/tmux-session save
User=%i
#Slice=tmux-%i.slice

#[Install]
#WantedBy=multi-user.target
