[Unit]
SourcePath=/usr/bin/tmux-session
Description=tmux session Service

[Service]
Type=oneshot
RemainAfterExit=Yes
ExecStart=/usr/bin/tmux-session restore
ExecStop=/usr/bin/tmux-session save
TimeoutStopSec=120s

[Install]
WantedBy=default.target
