[commit]
    #template = /home/jarch_hu/jhscript/env/.commit_message_format

[user]
    email = jarch_hu@askey.com
    name = Jarch Hu
[core]
    editor = vim
    #editor = emacs
    autocrlf = input

[alias]
    st = status
    co = checkout
    br = branch
    mg = merge
    ci = commit
    ds = diff --staged
    dt = difftool
    mt = mergetool
    last = log -1 HEAD
    latest = for-each-ref --sort=-committerdate --format=\"%(committername)@%(refname:short) [%(committerdate:short)] %(contents)\"
    ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad %C(red)%d %C(reset)%s %C(green)[%cn]\" --decorate --date=short
    hist = log --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(blue)%ad\" --topo-order --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    clog = log --color --graph --all --oneline --decorate=full
    alog = log --color --graph --all --decorate=full
[push]
    default = simple
[color]
    ui = auto
[gpg]
	program = gpg2

#[protocol]
#  version = 2

[url "https://private.source.codeaurora.cn"]
    insteadOf = ssh://git.codeaurora.org:9222
    insteadOf = ssh://git.codeaurora.org
    insteadOf = ssh://privgit.codeaurora.org:9222
    insteadOf = ssh://privgit.codeaurora.org
    insteadOf = ssh://git@git.codeaurora.org:9222
    insteadOf = ssh://git@git.codeaurora.org
    insteadOf = ssh://git@privgit.codeaurora.org:9222
    insteadOf = ssh://git@privgit.codeaurora.org
    insteadOf = https://private.source.codeaurora.org

[url "https://source.codeaurora.cn"]
    insteadOf = git://codeaurora.org
    insteadOf = https://source.codeaurora.org


[url "ssh://gerrit.askey.cn:29418"]
    pushInsteadOf = git://gerrit.askey.cn

[credential "https://chipmaster2.qti.qualcomm.com"]
    user = jarch_hu@askey.com
    helper = store
